<nav class="navbar-default navbar-static-side" role="navigation" >
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <span class="clear">
                          <%= link_to "/users/"+current_user.id.to_s do %>
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_user.full_name %></strong>
                            </span>
                          </a>
                          <a href="/">
                            <span class="text-muted text-xs block"><%= current_house.name if current_house%> </span>
                          <% end %>
                        </span>
                </div>
                <div class="logo-element">
                  <%= link_to "/" do %>
                  <i class="fa fa-tint"></i> <span class="nav-label">Shower</span>
                  <% end %>
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-home"></i> <span class="nav-label">Dashboard</span>
                <% end %>
            </li>
            <li class="<%= 'active' if !current_page?('/') %>">
                <%= link_to "/users/"+current_user.id.to_s do %>
                  <i class="fa fa-user"></i> <span class="nav-label">Profie</span>
                <% end %>
            </li>

        </ul>
    </div>
</nav>
