<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

<div class="row wrapper border-bottom white-bg page-heading2">
    <div class="col-lg-10">
        <h2 class="m-l-md"><%= current_house.name if current_house%> Dashboard</h2>
        <!-- <p class="gradient-blue-header page-title-p"><%= current_house.name if current_house%> Dashboard</p> -->
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row" >
    <div class="col-lg-8" >
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Showers</h5>
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-xs btn-white">Last Week</button>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="flot-chart" style="min-height:435px;">
                    <div class="flot-chart-content" id="house-shower-by-user-chart"></div>
                </div>
             </div>
          </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>House Leaderboard</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table table-hover no-margins">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Change</th>
                        <th class="text-center">Rank</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @scores.each_with_index do |elem, i| %>
                       <tr>
                         <td><%= User.find_by_id(elem[0]).full_name %></td>
                         <td class="text-center"><%= elem[1] %></td>
                         <td class="text-center">
                           <% if @diff_scores[elem[0]] >= 0 %>
                             <span class="text-navy">
                               <%="+" + @diff_scores[elem[0]].to_s %>
                               <i class="fa fa-level-up"></i>
                             </span>
                           <% else  %>
                             <span class="text-danger">
                               <%=@diff_scores[elem[0]]%>
                               <i class="fa fa-level-down"></i>
                             </span>
                           <% end %>

                         </td>
                         <td class="text-left" style="padding-left:20px;">
                           <%= i + 1 %>
                           <% if @rank_diff[elem[0]] > 0 %>
                              <span class="text-navy">
                               <i class="fa fa-play fa-rotate-270" style="font-size: 10px; padding-left:5px;"></i>
                           <% elsif @rank_diff[elem[0]] < 0  %>
                               <span class="text-danger">
                                <i class="fa fa-play fa-rotate-90" style="font-size: 10px; padding-left:5px; "></i>
                           <% else %>
                                <span class="text-warning">

                           <% end %>

                             </span>
                         </td>
                       </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Weekly Progress</h5>
            </div>
            <div class="ibox-content">
              <ul class="stat-list">
                  <li>
                      <h2 id="num_showers" class="no-margins"></h2>
                      <small>Number of showers in period</small>
                      <div id="num_showers_change" class="stat-percent"> </div>
                      <div class="progress progress-mini">
                          <div id="num_showers_change_bar" style="width: 48%;" class="progress-bar"></div>
                      </div>
                  </li>
                  <li>
                      <h2 id="total_duration"class="no-margins "></h2>
                      <small>Total duration of showers in period</small>
                      <div id="total_duration_change" class="stat-percent"> </div>
                      <div class="progress progress-mini">
                          <div id="total_duration_change_bar" style="width: 48%;" class="progress-bar"></div>
                      </div>
                  </li>
                </ul>
              </div>
          </div>
      </div>

  </div>


<div class="row">
    <div class="col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Pie Chart</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <canvas id="user-pie-chart">
                </canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Shower Duration by Day</h5>
              <div class="pull-right">
                  <div class="btn-group"><button type="button" class="btn btn-xs btn-white">Last Week</button></div>
              </div>
          </div>
          <div class="ibox-content">
              <div class="flot-chart" style="min-height:400px;">
                  <div class="flot-chart-content" id="house-shower-by-day-chart"></div>
              </div>
           </div>
        </div>
    </div>

  </div>
</div>


<script>
var theme_colors = ["#42FFCB", "#78E3FD", "#23C59E", "#48BEFF", "#48FEFF", "#3DFAFF", "#48A59E",  "#0FCF9E"]

Highcharts.theme = {
    colors: theme_colors,
    title: {
        style: {
            color: '#000',
            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
        }
    },
    subtitle: {
        style: {
            color: '#666666',
            font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
        }
    },

    legend: {
        itemStyle: {
            font: '9pt Trebuchet MS, Verdana, sans-serif',
            color: 'black'
        },
        itemHoverStyle:{
            color: 'gray'
        }
    }
};

Highcharts.setOptions(Highcharts.theme);

$(document).ready(function() {
    var level_up = '<i class="fa fa-level-up text-navy"></i>'
    var level_down = '<i class="fa fa-level-down text-navy"></i>'

    var format_change = function(str){
      str += "% ";
      if (str.startsWith("-")){
        str += level_down;
      } else {
        str += level_up;
      }
      return str
    }

    $.getJSON("/houses/38/showers/pie_chart_data.json", function(data){
      make_pie_chart(data)
    });

    $.getJSON("/houses/38/showers/last_week.json", function(data){
      total_duration_change = format_change(data['total_duration_change'])
      $("#total_duration_change_bar").css("width", data['total_duration_change']+"%")

      num_showers_change = format_change(data['num_showers_change'])
      $("#num_showers_change_bar").css("width", data['num_showers_change']+"%")

      $("#total_duration").text(data['total_duration'] + " minutes");
      $("#total_duration_change").html(total_duration_change);
      $("#num_showers").text(data['num_showers']);
      $("#num_showers_change").html(num_showers_change);
    })

    var doughnutOptions = {
        legend: {
            display: true,
            position: "bottom"
        },
        title: {
            display: true,
            text: 'Shower Duration per User in last week'
        },
        cutoutPercentage: 35,
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
    };

    var make_pie_chart = function(data){
      var ctx = $("#user-pie-chart");
      data["datasets"][0]["backgroundColor"] = theme_colors
      data["datasets"][0]["hoverBackgroundColor"] = theme_colors
      var myPieChart = new Chart(ctx,{
          type: 'doughnut',
          data: data,
          options: doughnutOptions
      });
    }


    var create_user_chart = function(data){
      Highcharts.chart('house-shower-by-user-chart', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'House Shower Usage'
        },
        xAxis: {
            categories: data['categories']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Duration of showers in minutes'
            },
            plotBands: [
              { // Light air
                from: 0,
                to: 4,
                color: 'rgba(39, 197, 158, 0.2)',
                label: {
                    text: 'Super Saver Shower',
                    style: {
                        color: '#606060'
                    },
                }
            }, { // Light breeze
                from: 4,
                to: 7,
                color: 'rgba(65, 255, 203, .1)',
                label: {
                    text: 'Saver Shower',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Gentle breeze
                from: 7,
                to: 10,
                color: 'rgba(74, 254, 255, 0.1)',
                label: {
                    text: 'Water Sipper',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Moderate breeze
                from: 10,
                to: 15,
                color: 'rgba(244, 244, 66, .1)',
                label: {
                    text: 'Water Guzzler',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Fresh breeze
                from: 15,
                to: 25,
                color: 'rgba(244, 167, 50, 0.1)',
                label: {
                    text: 'Ice Cap Melter',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Strong breeze
                from: 25,
                to: 100,
                color: 'rgba(255, 0, 0, .1)',
                label: {
                    text: 'Climate Changer',
                    style: {
                        color: '#606060'
                    }
                }
            }
            ]
            // stackLabels: {
            //     enabled: false,
            //     style: {
            //         fontWeight: 'bold',
            //         color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
            //     }
            // }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                // stacking: 'normal',
                dataLabels: {
                    enabled: false,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: data['series']
      });
    }

    var create_day_chart = function(data){
      Highcharts.chart('house-shower-by-day-chart', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Average Shower Duration per day'
        },
        subtitle: {
            text: 'Click the bars to drill down into a user-level view.'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Average duration of shower (min.)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f} min'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f} min</b><br/>'
        },

        series: data["series"],
        drilldown: data["drilldown"]
      });
    }


    $.getJSON("/api/showers/by_user.json?past_days=7", function(data){
      create_user_chart(data);
    })

    $.getJSON("/api/showers/by_day.json", function(data){
      create_day_chart(data);
    })
});
</script>
