<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-sparklines/2.1.2/jquery.sparkline.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
<style> .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }</style>
<p id="notice">
  <%= notice %>
</p>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile Detail</h5>
        </div>
        <div class="ibox-content profile-content">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <img alt="image" class="img-responsive img-circle m-b-sm" style="display:inline" src="<%= @user.avatar.url(:square) %>">
                <h4 class="m-t-md"><strong><%= @user.full_name %> </strong></h4>
                <p><i class="fa fa-home"></i>
                  <%= @user.house.name if @user.house%>
                </p>
                <h4> Score:
                  <%= @score %>
                </h4>
                <h4 class="m-b-md">House Rank:
                  <%= @rank %>
                </h4>
              </div>
            </div>
            <% if @user==current_user %>
            <div class="user-button">
              <div class="row text-center">
                <%= form_for(@user, multipart: true) do |f| %>
                  <div class="col-md-6">
                    <%= f.file_field :avatar, :class => "btn-theme", :data => {"filename-placement" => "inside"} %>
                  </div>
                  <div class="col-md-6">
                    <%= f.submit 'Upload Pic', :class => "btn-primary btn-block " %>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    <!-- </div> -->
    <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-title">
              <h5>Percentage of House's Water Consumption</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
            <svg class="m-t-sm" id="fillgauge1" width="100%" height="150"></svg>
          </div>
        </div>
    </div>
    <!-- <div class="col-lg-3">
        <div class="ibox">
            <div class="ibox-content">
                <h5>Avg.</h5>
                <h2>198 009</h2>
                <div id="sparkline1"></div>
            </div>
        </div>
    </div> -->
    <div class="col-lg-5">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Comparison Corner</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                      <i class="fa fa-times"></i>
                  </a>
              </div>
          </div>
          <div class="ibox-content">
              <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                      <th></th>
                      <th class="text-center">Personal Avg.</th>
                      <th class="text-center">House Avg.</th>
                      <th class="text-center">City Avg.</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Duration</strong></td>
                      <td class="text-center">
                        <%=@user.avg_duration_showers.round(1)%>
                      </td>
                      <td class="text-center">
                        <%=current_house.avg_duration_showers.round(1)%>
                      </td>
                      <td class="text-center">
                        10.89
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Temperature</strong></td>
                      <td class="text-center">
                        <%=@user.avg_temp_showers.round(1)%>
                      </td>
                      <td class="text-center">
                        <%=current_house.avg_temp_showers.round(1)%>
                      </td>
                      <td class="text-center">
                        90.89
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Showers/wk</strong></td>
                      <td class="text-center">6.8</td>
                      <td class="text-center">6.0</td>
                      <td class="text-center">5.2</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
      <div class="col-md-9">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>Shower Data</h5>
            <div class="ibox-tools">
              <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
              </a>
              <a class="close-link">
                <i class="fa fa-times"></i>
              </a>
            </div>
          </div>
          <div class="ibox-content">
            <div>
              <div id="shower_data_chart" class="feed-activity-list">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<script>
  $(document).ready(function() {
    $('input[type=file]').bootstrapFileInput();

    var sparklineCharts = function(){
       $("#sparkline1").sparkline([34, 43, 43, 35, 44, 32, 44, 52], {
           type: 'line',
           width: '100%',
           height: '60',
           lineColor: '#1ab394',
           fillColor: "#ffffff"
       });

       $("#sparkline2").sparkline([24, 43, 43, 55, 44, 62, 44, 72], {
           type: 'line',
           width: '100%',
           height: '60',
           lineColor: '#1ab394',
           fillColor: "#ffffff"
       });

       $("#sparkline3").sparkline([74, 43, 23, 55, 54, 32, 24, 12], {
           type: 'line',
           width: '100%',
           height: '60',
           lineColor: '#ed5565',
           fillColor: "#ffffff"
       });


    };

    var sparkResize;
    var theme_colors = ["#FF98B8","#48BEFF", "#48FEFF", "#42FFCB",  "#23C59E",   "#3DFAFF", "#48A59E",  "#0FCF9E"]
    Highcharts.theme = {
        colors: theme_colors,
        title: {
            style: {
                color: '#000',
                font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
            }
        },
        subtitle: {
            style: {
                color: '#666666',
                font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
            }
        },

        legend: {
            itemStyle: {
                font: '9pt Trebuchet MS, Verdana, sans-serif',
                color: 'black'
            },
            itemHoverStyle:{
                color: 'gray'
            }
        }
    };
    Highcharts.setOptions(Highcharts.theme);

    $.getJSON("/api" +window.location.pathname+ "/shower_data.json?num_days=10", function(data){
      Highcharts.chart('shower_data_chart', {
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: 'Shower Duration and Average Temperature by Day'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value} min',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'Shower Duration',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            plotBands: [{ // Light air
                from: 0,
                to: 4,
                color: 'rgba(39, 197, 158, 0.5)',
                label: {
                    text: 'Super Saver Shower',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Light breeze
                from: 4,
                to: 7,
                color: 'rgba(65, 255, 203, .3)',
                label: {
                    text: 'Saver Shower',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Gentle breeze
                from: 7,
                to: 10,
                color: 'rgba(74, 254, 255, 0.2)',
                label: {
                    text: 'Water Sipper',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Moderate breeze
                from: 10,
                to: 15,
                color: 'rgba(244, 244, 66, .3)',
                label: {
                    text: 'Water Guzzler',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Fresh breeze
                from: 15,
                to: 25,
                color: 'rgba(244, 167, 50, 0.3)',
                label: {
                    text: 'Ice Cap Melter',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Strong breeze
                from: 25,
                to: 100,
                color: 'rgba(255, 0, 0, .3)',
                label: {
                    text: 'Climate Changer',
                    style: {
                        color: '#606060'
                    }
                }
            }
            ]
        }, { // Secondary yAxis
            min: 80,
            title: {
                text: 'Temperature',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value}°C',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            // x: -60,
            verticalAlign: 'top',
            y: -10,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: data
      });
    })


    var config1 = liquidFillGaugeDefaultSettings();
    config1.circleColor = "#42FFCB";
    config1.textColor = "#48BEFF";
    config1.waveTextColor = "#48BEFF";
    config1.waveColor = theme_colors[1];
    config1.circleThickness = 0.1;
    config1.circleFillGap = 0.1;
    config1.textVertPosition = 0.7;
    config1.waveAnimateTime = 3000;
    config1.waveHeight = 0.15;
    config1.waveCount = 2;
    console.log("HERE")
    $.getJSON("/api" + window.location.pathname + "/percent_consumption.json", function(data){
      console.log(data);
      var gauge1 = loadLiquidFillGauge("fillgauge1", data, config1);
    })



    $(window).resize(function(e) {
        clearTimeout(sparkResize);
        sparkResize = setTimeout(sparklineCharts, 500);
    });

    sparklineCharts();

  })
</script>
